VITE_API_BASE_URL=http://localhost:5000

VITE_FIREBASE_API_KEY=AIzaSyArOotpz-YElnooQeaTirxg7YCZH5kkcUI
VITE_FIREBASE_AUTH_DOMAIN=ai-mentored-main.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-mentored-main 
VITE_FIREBASE_STORAGE_BUCKET=ai-mentored-main.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=534091107645
VITE_FIREBASE_APP_ID=1:534091107645:web:7f9dbe6253eeed2d160954
